---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
import ThemeIcon from '@components/ThemeIcon.astro';
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
