---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "../styles/global.css";
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="min-h-[100vh] grid grid-rows-layout">
      <Header />
      <div>
        <!-- <h1>{pageTitle}</h1> -->
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
